# Introduction to Using APIs

In this notebook, we will go through a practical example of how to use Python to access an API.
For quick demonstration of the concepts, we will use the [Open Notify API](http://open-notify.org). 
Its an open source project to provide a simple programming interface for some of NASAâ€™s data related
space and spacecrafts. Even though this is a toy example, the process of using APIs is similar for any 
API you will need to access in the future.

For this tutorial, the task is to find the latest position of the Internation Space Station(ISS)

# Python Setup
Lets make sure we import the required libraries

In [30]:
import requests
from matplotlib.pyplot import figure
import matplotlib.pyplot as plt
import pandas as pd

# Understanding The API
As mentioned during the introductory lecture, its important to read the API documentation 
and understand the available **endpoints**. Also, to determine the exact endpoint for the data we are interested in getting.
- **Base URL:** For this API, the base url is: ```http://api.open-notify.org```. So, our full url which we will pass to requests will be ```base-url + endpoint```
- **Available Endpoints/Data:** You can check [here](http://open-notify.org/Open-Notify-API/) for avaible endpoints
- **Target Endpoint:** For our task, the endpoint is ```iss-now.json```

# Making the Request
Now, lets request for the data. We create a simple function which makes the requests 
and prints the status code to see if we got a good result.

In [36]:
def request_iss_position(endpoint_url=None):
    # Make a get request 
    response = requests.get(endpoint_url)

    # Print the status code of the response.
    status_code = response.status_code
    if status_code == 200:
        print('Hooray!!, it worked')
        
        # access the returned data
        dict_obj_from_json = response.json()
        print('Type: {}'.format(type(dict_obj_from_json)))
        print('This is the nested dictionary returned: \n {}'.format(dict_obj_from_json))
        lat = dict_obj_from_json['iss_position']['latitude']
        lon = dict_obj_from_json['iss_position']['longitude']
        print('ISS is passing on Lat: {}, and Lon: {} right about now'.format(lat, lon))
    else:
        print('What happened, lets see the code we got: {}'.format(status_code))

In [14]:
base_url = 'http://api.open-notify.org/'
iss_pos = base_url + 'iss-now.json'
request_iss_position(endpoint_url=iss_pos)

Hooray!!, it worked

In [ ]:
# Now, try to enter a wrong endpoint and see what happens
iss_pos2 = base_url + 'iss-today.json'
request_iss_position(endpoint_url=iss_pos2)

# Accessing the Data
Now, lets change our function so that we print the Latitude and Longitude of where ISS is right now.

In [37]:
request_iss_position(endpoint_url=iss_pos)

Hooray!!, it worked
Type: <class 'dict'>
This is the nested dictionary returned:
 {'iss_position': {'longitude': '81.5502', 'latitude': '-17.4203'}, 'timestamp': 1550579989, 'message': 'success'}
ISS is passing on Lat: -17.4203, and Lon: 81.5502 right about now

# EXERCISE-1:
Using the same API, check how many Astronouts are in space right now?

In [ ]:
# base-url is same as above

# end point for this data: please check documentation
num_astros = ADD YOUR CODE

# full_url number of astronouts
num_astros_url = ADD YOUR CODE

# Make request
response = ADD YOUR CODE

# Get data if response is 200
if response.status_code == 200:
    # Extract the dict object from the JSON response
    res = ADD YOUR CODE
    
    # please print the dict object above so you can inspect it and see how to retrieve the required data
    ADD YOUR CODE
    
    # Get the number of people in spacw
    num_people = ADD YOUR CODE
    
    # print number of people
    print('They are {} Astrnouts in Space right now'.format(ADD YOUR CODE))

# Pulling Data World Bank Development Indicators API
We're using Pandas Datareader: a third-party library that makes it easy to pull data from APIs into a Pandas dataframe.

Use it to pull live data from Yahoo! Finance, World Bank and others.


| Function | Task Performed |
|----|---|
| wb.get_countries()  | List available countries, with their country codes, income levels etc. |
| wb.search()  | Query the available indicators using a search term. |
| wb.WorldBankReader()  | A class for downloading data series. |

## Installing Pandas Datareader
Use the terminal to install the package pandas_datareader like so: 
```pip3 install pandas_datareader```

In [2]:
# Lets import World Bank module (wb) from pandas_datareader
from pandas_datareader import wb

## List of Indicators
See [here](http://datatopics.worldbank.org/world-development-indicators/themes/people.html)

In [13]:
# Find the GNI per capita indicator, get its ID number
indicator_name = "GNI per capita, Atlas"
result = wb.search(string=indicator_name,field = 'name')
result

,id,name,source,sourceNote,sourceOrganization,topics,unit
8492,NY.GNP.PCAP.CD,"GNI per capita, Atlas method (current US$)",World Development Indicators,GNI per capita (formerly GNP per capita) is th...,"b'World Bank national accounts data, and OECD ...",Economy & Growth,

In [9]:
# Make a note of the indicator ID
GNI_ID = 'NY.GNP.PCAP.CD'

In [4]:
# Get a list of countries and clean it up
countries = wb.get_countries()
countries.head()

,adminregion,capitalCity,iso3c,incomeLevel,iso2c,latitude,lendingType,longitude,name,region
0,,Oranjestad,ABW,High income,AW,12.51670,Not classified,-70.0167,Aruba,Latin America & Caribbean
1,South Asia,Kabul,AFG,Low income,AF,34.52280,IDA,69.1761,Afghanistan,South Asia
2,,,AFR,Aggregates,A9,NaN,Aggregates,NaN,Africa,Aggregates
3,Sub-Saharan Africa (excluding high income),Luanda,AGO,Lower middle income,AO,-8.81155,IBRD,13.2420,Angola,Sub-Saharan Africa
4,Europe & Central Asia (excluding high income),Tirane,ALB,Upper middle income,AL,41.33170,IBRD,19.8172,Albania,Europe & Central Asia

In [7]:
#Select only those observations and columns we need: 
countries = countries[countries.incomeLevel != 'Aggregates']
countries = countries[['name', 'iso3c','incomeLevel']]
countries.head()

          name iso3c          incomeLevel
0        Aruba   ABW          High income
1  Afghanistan   AFG           Low income
3       Angola   AGO  Lower middle income
4      Albania   ALB  Upper middle income
5      Andorra   AND          High income

In [ ]:
# Let's plot GNI per capita since 1960 for the OECD countries

OECD_founders = ['Belgium','France','Germany','Italy','Luxembourg','Netherlands','United States',
                'Canada','Japan']
OECD_founder_codes = countries.iso3c[countries.name.isin(OECD_founders)]

# Create a reader object, pass it the data ID and country codes we want

reader = wb.WorldBankReader(symbols=GNI_ID,countries = OECD_founder_codes,start=1960)
GNI_capita = reader.read()
GNI_capita.head()

GNI_capita = GNI_capita.unstack(level=0)[GNI_ID]
GNI_capita.head()

GNI_capita.plot(figsize=[8,6])
plt.title('GNI per capita for OECD founders since 1960')

In [36]:
 wb.WorldBankReader?

# EXERCISE-2: Using WDI API
You going to generate a table of population for each country in Africa.

## Get indicator name and identify indicator id/code
Use the website [here](http://datatopics.worldbank.org/world-development-indicators/themes/people.html) 
to get indicator name for total population.

In [14]:
indicator_name = YOUR CODE HERE
result = YOUR CODE HERE
indicator_id = YOUR CODE HERE

,id,name,source,sourceNote,sourceOrganization,topics,unit
11165,SP.POP.TOTL,"Population, total",World Development Indicators,Total population is based on the de facto defi...,b'(1) United Nations Population Division. Worl...,Climate Change ; Health,

In [49]:
# Indicator id
indicator_id = "SP.POP.TOTL"

In [ ]:
# Get ISO codes for African Countries
iso_codes_file = '../data/country_codes_africa.csv'
df_iso = pd.read_csv(iso_codes_file)
df_iso.head()

# Put the ISO codes into a list
afr_iso = list(df_iso.ISO.values)
afr_iso

In [45]:
names = list(df_iso.NAME_0.values)

In [47]:
afr_iso = countries.iso3c[countries.name.isin(names)]

In [51]:
reader = wb.WorldBankReader(symbols=indicator_id, countries=afr_iso, start=2010, end=2010)
pop = reader.read()
pop.head()

                   SP.POP.TOTL
country      year
Angola       2010     23369131
Burundi      2010      8766930
Benin        2010      9199259
Burkina Faso 2010     15605217
Botswana     2010      2014866

In [25]:
countries.columns

Index(['adminregion', 'capitalCity', 'iso3c', 'incomeLevel', 'iso2c',
       'latitude', 'lendingType', 'longitude', 'name', 'region'],
      dtype='object')